:root{

    --primary:#FFD400;
    --black:#1E1E1E;
    --white:#FFFFFF;
    --gray:#F5F5F5;
    --text:#6B7280;

}

body{

    background:var(--gray);
    font-family:'Cairo',sans-serif;
    color:var(--black);

}

.logo{

    width:140px;
    height:auto;

}

.card{

    border:none;
    border-radius:18px;
    transition:.25s;

}

.card:hover{

    transform:translateY(-2px);

}

.card-body{

    padding:24px;

}

h2{

    font-weight:700;

}

h5{

    font-weight:700;

}

.form-control,
.form-select{

    border-radius:12px;
    padding:12px;
    border:1px solid #d9d9d9;

}

.form-control:focus,
.form-select:focus{

    border-color:var(--primary);
    box-shadow:0 0 0 .2rem rgba(255,212,0,.2);

}

.btn-warning{

    background:var(--primary);
    border:none;
    color:var(--black);
    font-weight:700;
    padding:14px;

}

.btn-warning:hover{

    background:#f2ca00;
    color:var(--black);

}

.text-secondary{

    color:var(--text)!important;

}

.xray-item{

    background:white;
    border-radius:12px;
    padding:12px;
    margin-bottom:10px;
    border:1px solid #e6e6e6;

}

textarea{

    resize:none;

}
